<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolzapp</title>
</head>
<body>

    <div id="app" v-cloak>
        
        <div class="background">

            <div class="container">
    
                <!--Colonna di sinistra-->
                <div class="left">
    
                    <div class="info">
    
                        <div class="col-left">
    
                            <div class="icon">
                                <img src="./img/avatar_io.jpg" alt="">
                            </div>
    
                        </div>
                        <div class="col-right">
                            <span><i class="fas fa-circle-notch"></i></span>
                            <span><i class="fas fa-message"></i></span>
                            <span><i class="fas fa-bars"></i></span>
                        </div>
    
                    </div>
    
                    <div class="notifications">
    
                        <div class="col-left">
    
                            <i class="fas fa-bell-slash"></i>
    
                        </div>
                        <div class="col-right">
                            
                            <h3>
                                Ricevi notifiche di nuovi messaggi
                            </h3>
                            <p>
                                <a href="#">Attiva notifiche desktop</a>
                            </p>
    
                        </div>
    
                    </div>
    
                    <div class="search">
    
                        <div class="content">
    
                            <i class="fas fa-magnifying-glass"></i>
                            <input
                                type="text"
                                name="search"
                                placeholder="Cerca o inizia una nuova chat"
                                v-model="searchedContact"
                            >
    
                        </div>
    
                    </div>
    
                    <div class="chat">

                        <div
                            class="row"
                            v-for="(contact,index) in searchChat()"
                            @click="chooseChat(index)"
                        >
                        
                            <div class="col-left">

                                <div class="icon">
                                    <img :src="contact.avatar" alt="img">
                                </div>

                            </div>
                            <div class="col-right">

                                <h1>
                                    {{ contact.name }}
                                </h1>
                                <p>
                                    {{ contact.messages.at(-1).message}}
                                </p>
                                <span>
                                    {{ contact.messages.at(-1).date}}
                                </span>
                            </div>
                        </div>
    
                    </div>
    
                </div>
                
    
                <!--Colonna di destra-->
                <div class="right">
    
                    <div class="contact">

                        <div class="col-left">

                            

                            <div class="icon">
                                <img :src="this.contacts[this.currentChat].avatar" alt="img">
                            </div>

                        </div>
                        <div class="col-right">

                            <div class="name">
                                <h1>
                                    {{this.contacts[this.currentChat].name }}
                                </h1>
                                <p>
                                    {{ this.contacts[this.currentChat].messages.at(-1).date}}
                                </p>
                            </div>

                            <div class="attachment">
                                <i class="fas fa-magnifying-glass"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-bars"></i>
                            </div>

                        </div>
    
                    </div>
    
                    <div class="conversation">
    
                        <div class="content">

                            <ul>

                                <li
                                    v-for="(mex, index) in this.contacts[this.currentChat].messages"
                                    :class="{sent: isSent(index), received: isReceived(index)}"
                                >
                                    <div class="content-li">
                                        <div class="left-li">
                                            <p>{{ mex.message }}</p>
                                        </div>
                                        <div class="right-li">
                                            <i class="fas fa-chevron-down icon"></i>
                                            <span class="time">{{mex.date}}</span>
                                        </div>
                                    </div>
                                    
                                </li>

                            </ul>
    
                        </div>
    
                    </div>
    
                    <div class="message">
    
                        <div class="content">
                            <i class="fas fa-face-smile"></i>
                            <input
                                type="text"
                                name="message"
                                placeholder="Scrivi un messaggio"
                                v-model="newMessage"
                                @keyup.enter="sendMessage()"
                            >
                            <i class="fas fa-microphone"></i>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>

    </div>


    <!--inclusion js-->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
        <script src="./js/main.js" type="text/javascript"></script>
    <!--inclusion js-->
    
</body>
</html>